$main-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$main-background: #ffffff;
$secondary-background: #edeff1;

$main-color: #17daa3;
$dark-color: #576671;
$light-color: #ffffff;

