.btn-transparent {
  @include btn;
  border: 2px solid $light-color;
  &:hover {
    background-color: $main-color;
    color: $light-color;
    border: 2px solid $main-color;
    text-decoration: none;
  }
}
.btn-main {
  @include btn;
  border: 2px solid $main-color;
  background-color: $main-color;
  color: $light-color;
  &:hover {
    opacity: 0.8;
    text-decoration: none;
    color: $light-color;
  }
}